h1 {
font-size:30px;
color:#922A31;
}
h2 {
  font-size:26px;
  color:#043D78;
  border-bottom:1px solid #333;
  padding-bottom:10px;
}
p {
  margin-bottom:20px;
  border:#333 1px dotted;
  padding:10px;
  display:block;
}
